DATABASE_URL=postgresql://postgres:password123@db/orderflow
POSTGRES_USER=postgres
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=CommerceAPI
SECRET_KEY=yoursecretkey
ALGORITHM=HS256
STRIPE_SECRET_KEY=sk_test_yourstripekey
REDIS_URL=redis://redis:6379/0
